<html>
   <head>
	   <title>Movies...</title>
   </head>
   <body>
   	   <form method="POST" action="/" enctypwe="multipart/form-data">
	   <table>
	    <tr>
             <td>Acteur : </td>
	     <td>
		     <input name="actor" value="{{ actor }}"/>
	     </td>
	    </tr>
             <td>Thème : </td>
	     <td>
		     <input name="theme" value="{{ theme }}"/>
	     </td>
	    </tr>
	    <tr><td><button name='submit'>Rechercher</button></td></tr>
	   </table>
	   </form>
	   {% if error %}
	   <p><font color="red">Merci de saisir au moins un critère</font></p>
	   {% endif %}
           {% if movies %}
	   <p><hr/>
	     <table>
	     {% for movie in movies %}
	        <tr>
			<td> {{ movie[0] }} </td>
			<td> {{ movie[1] }} </td>
			<td> {{ movie[2] }} </td>
		</tr>
	     {% endfor %}
	     </table>
	   {% endif %}
   </body>	
</html>
